@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
  padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: #FFFFD1;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
	text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  display: flex;
	justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.graphContainer {
  width: 80vw;
  height: 90vh;
  border-radius: 20px;
  background: linear-gradient(to right bottom, #8796be, #23caa0);
  display: flex;
  justify-content: center;
  position: relative;
}

.svg {
  z-index: 50;
  margin-top: 10px;
}

.svg2 {
  width: 850px
}

.card {
  z-index: 50;
  margin-top: 260px;
	width: 350px;
	height: 330px;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(20px);
	border-radius: 10px;
	padding: 20px;
	color: white;
  border: 2px solid rgba(255, 255, 255, 0.496);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  position: absolute;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.15);
}

.card p {
	padding-right: 0px;
}

.test {
	padding: 20px;
}

.st12 {
	stroke: rgba(255, 255, 255, 0.534);
	stroke-width: 2px;
  fill: rgba(255, 255, 255, 0.329);
}

.st11 {
  fill: rgba(255, 255, 255, 0.2);
  filter: blur();
  stroke: rgba(255, 255, 255, 0.496);
  stroke-width: 2px;
}

.reaktionsSchritt:hover .st11 {
  stroke: rgba(255, 255, 255, 0.801);
	stroke-width: 2px;
  fill: rgba(255, 255, 255, 0.452);
}


.st13 {
	fill: rgb(255, 255, 255);
	font-size: 23px;
}

.st14 {
	font-size: 12px;
}

.st15 {
  fill: none;
}

.arrows {
  fill: none;
  stroke: rgb(219, 219, 219);
  stroke-width: 4px;
}

.textCard {
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 340px;
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(20px);
	border-radius: 10px;
	padding: 20px;
	color: white;
  border: 2px solid rgba(255, 255, 255, 0.496);
}


.textCard h1 {
  text-transform: uppercase;
}


.st6 {
  fill: white;
}

.textContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  background: linear-gradient(to right bottom, #ec008c, #fc6767);
  border-radius: 20px;
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 20px 4px rgb(0, 0, 0, 0.3);
}
.rightCard{
  display: flex;
  align-items: center;
}

.leftCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.welcomeContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.contentArea {
  width: 70vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.left {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  font-size: 100px;
}

.left h3 {
  font-size: 50px;
}

.right {
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

