@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background: #ffffd1;
}
h3,
h1 {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.card {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.graphContainer {
  min-width: 320px;
  margin-bottom: 100px;
	width: 80vw;
	height: auto;
	border-radius: 20px;
	background: linear-gradient(to right bottom, #8796be, #23caa0);
	display: flex;
	justify-content: center;
	position: relative;
}

.svg {
	z-index: 50;
	margin-top: 10px;

}

.svg2 {
	width: 850px;
}

.card {
	z-index: 50;
	margin-top: 260px;
	width: 350px;
	height: 330px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0.1)
	);
	backdrop-filter: blur(20px);
	border-radius: 10px;
	padding: 20px;
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.496);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;
	box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 850px) {
	.svg2 {
		width: 95vw;
	}
	.card {
    margin-bottom: 50px;
		position: relative;
    margin-top: 0px;
	}
  .graphContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

}


@media only screen and (max-width: 500px) {
  .card {
    width: 90%;
    height: auto;
  }
  .textCard h1 {
    font-size: 21px;
  }
}

.card p {
	padding-right: 0px;
}

.test {
	padding: 20px;
}

.st12 {
	stroke: rgba(255, 255, 255, 0.534);
	stroke-width: 2px;
	fill: rgba(255, 255, 255, 0.329);
}

.st11 {
	fill: rgba(255, 255, 255, 0.2);
	filter: blur();
	stroke: rgba(255, 255, 255, 0.496);
	stroke-width: 2px;
}

.reaktionsSchritt:hover .st11 {
	stroke: rgba(255, 255, 255, 0.801);
	stroke-width: 2px;
	fill: rgba(255, 255, 255, 0.452);
}

.st13 {
	fill: rgb(255, 255, 255);
	font-size: 23px;
}

.st14 {
	font-size: 12px;
}

.st15 {
	fill: none;
}

.arrows {
	fill: none;
	stroke: rgb(219, 219, 219);
	stroke-width: 4px;
}

.textCard {
	margin: 0px 0px 0px 0px;
	display: flex;
  font-size: 15px;
	flex-direction: column;
	width: 40%;
	height: auto;
	border-radius: 10px;
	padding: 20px;
	color: #ffffd1;
	border: 4px solid #ffffd1;
  box-shadow: inset 0px 0px 20px 4px #ffffd14d;
}

.textCard a {
 text-decoration: underline;
}

.textCard h1 {
	text-transform: uppercase;
}

.st6 {
	fill: white;
}

.textContainer {
  min-height: 900px;
	min-width: 320px;
	margin-top: 100px;
	margin-bottom: 100px;
	background: linear-gradient(to right bottom, #ec008c, #fc6767);
	border-radius: 20px;
	width: 80vw;
	height: 90vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: center;
}

@media only screen and (max-width: 1350px) {
	.textContainer {
		height: auto;
    padding: 50px 0px 50px 0px;
	}

	.textCard {
		margin: 25px 0px 25px 0px;
		height: auto;
		width: 80%;
	}
	.textContainer :nth-child(1) {
		order: 1;
	}
	.textContainer :nth-child(2) {
		order: 3;
	}
	.textContainer :nth-child(3) {
		order: 2;
	}
}
.welcomeContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.contentArea {
	width: 70vw;
	height: 100vh;
	display: flex;
  justify-content: space-between;
  flex-flow: row wrap-reverse;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left h1 {
	font-size: 6vw;
}

.left h3 {
	font-size: 3vw;
}

.right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.right img {
  width: 30vw;
  min-width: 400px;
}

.projektBeschreibung {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

@media only screen and (max-width: 1000px) {
  .welcomeContainer {
    height: auto;
  }

  .contentArea {
    margin-top: 100px;
    height: auto;
  }

  .right {
    display: none;
  }
  .left {
    width: 80vw;
    align-items: center;
  }

  .left h1 {
    font-size: 10vw;
  }

  .left h3 {
    font-size: 4vw;
  }

  .projektBeschreibung {
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
}