.infoText h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.infoText p {
  margin-top: 0px;
  margin-bottom: 0px; 
  font-size: 13px;
  color: rgba(255, 254, 254, 0.651);
}

.heading {
  color: rgb(255, 255, 255);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
}

.substratProdukt {
  display: flex;
  justify-content: space-between;
}

.infoDiv {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

}

.infoText {
  display: flex;
  margin-right: 5px;
}

.description {
  color: rgba(255, 255, 255, 0.767);
}

.noTitle {
  width: 350px;
	height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  mix-blend-mode: overlay;
}
.noTitle h3 {
  color: rgba(255, 255, 255, 1);
  mix-blend-mode: overlay;
}

.noTitle p {
  color: rgba(255, 255, 255, 0.856);
}